@import './variables.scss';



.drawer{
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  height: 30px;
  width: 30px;
  &-item {
    align-items: center;
    margin: 16px 0;
    font-size: 1.5rem;
    &.--active {
    color: $main-asd;
    }
  }
}